# --------------------------------------------
# Python
# --------------------------------------------

# Byte-compiled / optimized / DLL files
tests_publicos/
Enunciado
__pycache__/
dcciudad.pyc
todos_tests.py
