# --------------------------------------------
# Python
# --------------------------------------------

# Byte-compiled / optimized / DLL files
servidor/assets/solucion_puzzles/
servidor/__pycache__
BASE.md


